<h1 style="margin-top:10px;"><span class="badge bg-secondary">HACK IDEA</span></h1>
<h2 style="margin-top:-50px; left:6px;text-shadow:2px 2px 4px #000000">EmpId:{{empId}}</h2>
<button type="button" class="btn btn-primary upright2" data-bs-toggle="modal" (click)="modelopen()"data-bs-target="#exampleModal">Add New Task</button>
<h2 style="margin-top: -80px ; "><span class="badge bg-secondary light">Sort by</span></h2>
<button type="button" class="btn btn-primary btn-sm upright" (click)="DateSort()">Creation Date</button>
<button type="button" class="btn btn-secondary btn-sm upright1" (click)="UpvoteSort()">Upvote Count</button>
<div class="row" >
  <div  class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style ="margin: 15px" *ngFor="let value of (projects|sortingpipe:Sorting)">
    <div class="card shadow p-3 mb-5 bg-body rounded" >
      <div class="card-body">
        <h5 class="card-title">{{value.Title}}</h5>
        <p class="card-text">{{value.Description}}</p>
        <p class="card-text"><b>Tag: </b>{{value.Tags}}</p>
        <i (click)="upVote(value)" class="fa fa-thumbs-up">{{value.Count}}</i>
        <p class="bottomright" >{{value.Crdate}}</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngFor= 'let group of optionalgroup ; let i = index'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="input-group mb-3">
          <span class="input-group-text" id="title">Add Title*</span>
          <input type="text" name ='Title' [(ngModel)] = 'group.Title'class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"  #Title="ngModel" required>
          <span class="text-danger" *ngIf="submitted && group.Title==''">{{requiredmsg}}</span>  
        </div> 
          
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <span class="input-group-text" id="description"> Add Description*</span>
          <input type="text" name ='Description' [(ngModel)] = 'group.Description'class="form-control"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"  #Description="ngModel" required>
          <span class="text-danger" *ngIf="submitted && group.Description==''">{{requiredmsg}}</span>
        </div>  
         
        <div class="input-group mb-3">
          <span class="input-group-text" id="tags">Add tags*</span>         
            <select (change)="selectChangeHandler($event,group)"class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option [value]= "value.name" *ngFor = "let value of dropdownvalue">{{value.name}}</option>
          </select> 
          <input type="text" name ='Tags' [(ngModel)] = 'group.Tags' class="form-control"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" #Tags="ngModel" required>
          <span class="text-danger" *ngIf="submitted && group.Tags==''">{{requiredmsg}}</span> 
        </div> 
      
        <div class="input-group mb-3">
          <span class="input-group-text" id="crdate">Creation date*</span>
          <input type="date" name ='Crdate' placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31"[(ngModel)] = 'group.Crdate' class="form-control"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" #Crdate ="ngModel" required>
          <span class="text-danger" *ngIf="submitted && group.Crdate==''">{{requiredmsg}}</span> 
        </div> 
      </div>  
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" #closebutton data-bs-dismiss="modal" (click)='CloseButton()'>Close</button>
        <button type="button" class="btn btn-primary" (click)='Popupmodel(i,group)'>Save changes</button>
      </div>
    </div>
  </div>
</div> 




  








