h1 {
  text-align: center;
  font-size: 55px;
  background-color:powderblue;
}

.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
  }
  
  .myClass{
    color : red;
  }
  .bottomright {
    position: absolute;
    bottom: 12px;
    right: 16px;
    font-size: 18px;
    font-weight: bold;
  }
  h2{
    position: absolute;
    right: 70px;
    font-size: 30px;
  }
  .upright {
    position: absolute;
    right: 6px;
    font-size: 18px; 
    margin-top: 165px;
  }
  .upright1 {
    position: absolute;
    right: 135px;
    font-size: 18px;
    margin-top: 165px;
  }
  .upright2 {
    position: absolute;
    right: 50px;
    font-size: 18px; 
    margin-top: 70px;
    
  }
 